<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richitec.commontoolkit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".CTApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ct_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activityextension.AppLaunchActivity"
            android:label="@string/ct_title_activity_app_launch"
            android:screenOrientation="portrait"
            android:theme="@style/AppLaunchActivityTheme" >
        </activity>
        <activity
            android:name=".activityextension.AppInstructionActivity"
            android:label="@string/ct_title_activity_app_instruction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activityextension.NavigationActivity"
            android:label="@string/ct_title_activity_navigation"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>